##  Print statement
  ### Data Types
  #### -->string ("harshath")
  #### -->integer (999)
  #### -->float (88.976)
  #### -->boolean (True)

In [5]:
print("harshath")       #print--> p should be small
                        # (" ")-->string

harshath

In [2]:
print(55)           #(55)-->integer

55

In [31]:
print(8.8)          #(8.8)-->float

8.8

In [7]:
print(True)         #(True)-->boolean

True

## Variables
  ### Rules
  ##### integer cannot be variable
  ##### no space btw variable
  ##### name12 is correct but 12name is wrong

In [8]:
x=55
print(x)

55

In [7]:
a=True
print(a)

True

In [ ]:
Example

driver_name = "Raja"  #String
pick_up_point = "Tambaram"   #string
drop_point = "vandaloor"   #string
distance = "4km" #integer string
time = 5       #int
fare = 1000    #int  
vechile_time = "1 hours"   #integer string
status = True   #boolean

In [9]:
print(driver_name)
print(pick_up_point)
print(drop_point)
print(distance)
print(time)
print(fare)
print(vechile_time)
print(status)

Raja
Tambaram
vandaloor
4km
5
1000
1 hours
True

In [25]:
print(type(driver_name))
print(type(pick_up_point))
print(type(drop_point))
print(type(time))
print(type(vechile_time))
print(type(distance))
print(type(status))
print(type(fare))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'int'>
<class 'str'>
<class 'str'>
<class 'bool'>
<class 'int'>

In [27]:
a="4"
b="6"
print(a+b)

46

In [29]:
a=4
b=6
print(a+b)

10

In [1]:
Name = "kums"
print(Name)

kums

In [2]:
name = 'kums'
print(name)

kums

In [4]:
Name = "jayapriya"
print("welcome to the course",Name)

welcome to the course jayapriya

In [5]:
age = 18
print("my age is",age)

my age is 18

In [7]:
name="harshath"
age=18
college="SRM"
print("Name of the student is",name,"Age of the student is",age,"Student college name is",college)

Name of the student is harshath Age of the student is 18 Student college name is SRM

In [14]:
name="harshath"
age=18
college="SRM"
print("Name of the student is",name,"\nAge of the student is",age,"\nStudent college name is",college)

Name of the student is harshath
Age of the student is 18
Student college name is SRM

# f-string -->formatted strin

In [18]:
name="harshath"
age=18
college="SRM"
print(f"Name of the student is {name} Age of the student is {age} Student college name is {college}")

Name of the student is harshath Age of the student is 18 Student college name is SRM

In [20]:
name="harshath"
age=18
college="SRM"
print(f"Name of the student is {name}\nAge of the student is {age} \nStudent college name is {college}")

Name of the student is harshath
Age of the student is 18
Student college name is SRM

# Inputs

In [21]:
name="priya"
print(name)

priya

In [22]:
name=input()
print(name)

 jayapriya

jayapriya

In [10]:
name = input("Enter your name")
print(name)

Enter your name jp

jp

In [11]:
name = input("Enter your name")
print(name)
print(type(name))

Enter your name jp

jp
<class 'str'>

In [12]:
number = input("enter any number")
print(number)
print(type(number))

enter any number 7

7
<class 'str'>

In [15]:
Age = int(input("enter your age"))
print(Age)
print(type(Age))

enter your age 28

28
<class 'int'>

In [16]:
salary = float(input("enter your salary"))
print(salary)
print(type(salary))

enter your salary 10000.50

10000.5
<class 'float'>

In [17]:
status = bool(input("enter the status"))
print(status)
print(type(status))

enter the status true

True
<class 'bool'>

# Operators

### Arithematic operator

In [19]:
a=10
b=2
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a//b)
print(a**b)

12
8
20
5.0
0
5
100

### Relationship operator

In [20]:
a=10
b=20
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)
print(a==b)
print(a!=b)

False
True
False
True
False
True

# Logical operator
### and or not

# Statements
### Conditional statements

In [21]:
age = 20
if(age>18):
    print("you are eligible to vote")
else:
    print("you are not elligible")

you are eligible to vote

In [22]:
age = 20
if(age>=18):
    print("you are eligible to vote")
else:
    print("you are not elligible")

you are eligible to vote

In [26]:
age =int(input("enter your age"))
if(age>=18):
 print("you are eligible to vote")
else:
    print("you are not elligible")

enter your age 18

you are eligible to vote