# functions

In [2]:
def add():
    a=10
    b=20
    print(a+b)
print(26)
add()

26
30

In [5]:
a=5
b=5
a+b

10

In [8]:
b=55

In [9]:
a+b

60

In [10]:
add()

30

In [15]:
def subtract():
    a=50
    b=25
    print(a-b)
subtract()
def multiply():
    a=20
    b=0
    print(a*b)
multiply()
def divide():
    a=25
    b=5
    print(a/b)
divide()

25
0
5.0

# parameters and arguments

In [19]:
def add(a,b,c):
    print(a+b+c)
add(10,15,25)

50

In [20]:
def add(child2,child3,child1):
    print("The youngest child is",child3)
add(child1="A",child2="B",child3="C")

The youngest child is C

In [21]:
def add(child1="A",child2="B",child3="C"):
    print(child3)
add()

C

# odd/even

In [1]:
def odd_or_even(i):
    if i%2==0:
        print("even")
    else:
        print("odd")
n=int(input("enter aany number"))
odd_or_even(n)

enter aany number 7

odd

In [5]:
def odd_or_even(i):
    if i%2==0:
        print("even")
    else:
        print("odd")
odd_or_even(int(input("enter any number")))

enter any number 65

odd

# over writing

In [7]:
def show_country(city,country='India'):
    print(f"{city} is in {country}")
show_country("chennai")

chennai is in India

In [1]:
def show_country(city,country='India'):
    print(f"{city} is in {country}")
show_country("paris","france")

paris is in france

In [2]:
def show_country(city,country='India'):
    print(f"{city} is in {country}")
coun="france"
show_country("paris",coun)

paris is in france

# arguments-argv

In [20]:
def my_function(*argv):
    for i in argv:
        print(i)
my_function('hi','my','name','is','priya')

hi
my
name
is
priya

In [29]:
def my_function(*argv):
    for i in argv:
        print(i)
    print("my name is",argv[4])
my_function('hi','my','name','is','priya')

hi
my
name
is
priya
my name is priya

In [28]:
def my_country(country="India"):
    print("I am from",country)
my_country("america")
my_country()
my_country("new-zealand")
my_country("australia")
my_country("switzerland")
my_country()

I am from america
I am from India
I am from new-zealand
I am from australia
I am from switzerland
I am from India

In [32]:
def oddeven(x):
    """function of the program to check the number even or odd"""
#a=oddeven
print(oddeven.__doc__)

function of the program to check the number even or odd

# Nested functions

In [3]:
def f1():
    def f2():
        def f3():
            print("hi f3")
        f3()
        print("hi f2")
    f2()
    print("hi f1") 
f1()

hi f3
hi f2
hi f1

In [35]:
def f1():
    def f2():
        def f3():
            print("hi f3")
        print("hi f2")
        f3()
    print("hi f1")    
    f2()
print("The loop starts here")    
f1()

The loop starts here
hi f1
hi f2
hi f3

In [39]:
def f1(a):
    print(a)
    a="I am a data analyst"
    print(a)
    def f2():
        a="I am a data scientist"
        print(a)
    f2()
a="I am a data engineer"
f1(a)
print("The final value of a is",a)

I am a data engineer
I am a data analyst
I am a data scientist
The final value of a is I am a data engineer